.sharan-resize {
    width: 200px;
}

.tiago-resize {
    width: 100px;
}

.hans-resize {
    width: 100px;
}

.serhii-resize {
    width: 100px;
}

.zoe-resize {
    width: 100px;
}

.signup-banner {
    background-color: #3882f6;
    width: 500px;
}

.header, .footer {
 background-color: #1F2937;
}
